[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask_swagger_ui = "*"
mongoengine = "*"
passlib = "*"
flask-cors = "*"
flask_httpauth = "*"
Pillow	= ">=7.1.1"
phonenumbers = "*"
mongomock = {editable = true,git = "https://github.com/mongomock/mongomock.git",ref = "develop"}

[dev-packages]
pylint = "*"
wheel = "*"
mongomock = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
coverage = "*"
factory_boy = "*"

[requires]
python_version = "3.7"
