[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask_swagger_ui = "*"
mongoengine = "*"
passlib = "*"
flask-cors = "*"
flask_httpauth = "*"
Pillow	= ">=7.1.1"

[dev-packages]
pylint = "*"
wheel = "*"
mongomock = ">=3.19.0"
pytest = "*"
pytest-env = "*"
coverage = "*"

[requires]
python_version = "3.7"
