[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask_swagger_ui = "*"
mongoengine = "*"
passlib = "*"
flask-cors = "*"
flask_httpauth = "*"
Pillow	= ">=7.1.1"
phonenumbers = "*"
bandit = "==1.6.2"
flake8 = "==3.7.9"
black = "==19.10b0"
python-dotenv = "==0.15.0"
itsdangerous = "==1.1.0"
click = "==7.1.2"
faker = "==5.4.0"

[dev-packages]
pylint = "*"
wheel = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
coverage = "*"
factory_boy = "*"
mongomock = {editable = true,git = "https://github.com/mongomock/mongomock.git",ref = "develop"}
black = "==19.10b0"
flake8 = "==3.7.9"
bandit = "==1.6.2"

[requires]
python_version = "3.7"
